asttokens
colorama
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
fonttools
importlib_metadata
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest_asyncio
numpy
packaging
pandas
parso
patsy
pickleshare
pillow
platformdirs
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
scipy
seaborn
setuptools
six
stack-data
statsmodels
tornado
traitlets
typing_extensions
tzdata
wcwidth
wheel
zipp
